<!DOCTYPE html>
<html>
  <head>
    <title>Food Tracker 2021</title>

    <link href="static/FT.css" rel="stylesheet" type="text/css" />
    <script src="static/FT.js" type="text/javascript"></script>
  </head>

  <body>
    <p> Hi Hakim</p>
  </body>

  <form>
    <label for="Food Item">Food Item:</label><br>
    <input type="text" id="food_item" name="e.g. Sandwich"><br>
    <label for="Date">Date:</label><br>
    <input type="text" id="date" name="e.g. 01/01/2021"><br>
    <label for="Time of Day">Time of Day:</label><br>
    <input type="text" id="time_of_day" name="e.g. 10am"><br>
    <label for="Calories">Calories Estimate:</label><br>
    <input type="text" id="calories" name="e.g. 880"><br>

  </form>







</html>

