<!DOCTYPE html>
<html>
  <head>
    <title>Food Tracker 2021</title>

    <link href="static/FT.css" rel="stylesheet" type="text/css" />
    <script src="static/FT.js" type="text/javascript"></script>
  </head>

  <body>
    <p> Hi Hakim</p>
  </body>

  <div id="form">
    <label for="Food Item">Food Item:</label><br>
    <input id="food_item" type="text"name="food_item"><br>
    
    <label for="Date">Date:</label><br>
    <input  id="date" type="text" name="date"><br>
    
    <label for="Time of Day">Time of Day:</label><br>
    <input id="time_of_day" type="text" name="time_of_day"><br>
    
    <label for="Calories">Calories Estimate:</label><br>
    <input id="calories" type="number" name="calories"><br>


    <button id="submit_button">Submit Entry</button>
  </div>







</html>

